
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e6bd6;
  font-family: 'Montserrat', sans-serif;
  /* background: url(\background_blue8.jpg) #0c4481 repeat-x;*/
}

#AL_Container {
  height: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding-left: 1rem;
}

#AL_Content {
  background-color: #fff;
  width: 100%;
  /* min-height: 100%; */
  _height: 100%; /* IE Hack */
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
/* Forms */

[type="text"],
[type="email"],
[type="url"],
[type="search"],
select,
textarea {
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  border: solid #cdcdcd;
  border-radius: 4px;
  text-transform: uppercase;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
select:focus,
textarea:focus {
  appearance: none;
  outline: none;
  border: solid #1e6bd6;
  background: white;
  font-size: 1rem;
}

h1 {
  color: #1e6bd6;
  margin: 16px 0px;
  padding: 0px 32px;
  font-size: 3rem;
}
/*Below three lines gives the dropdown style for the select */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

label {
  font-weight: 600;
  font-size: 1rem;
  display: block;
  margin: 16px 0px;
  padding: 0px 32px;
}

/* Other */

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
}

.container {
  max-width: 1000px;
  margin: 0px auto;
  margin-top: 0px;
  padding-top: 0px;
  padding: 0 2rem;
  background-color: #f1f1f1;
  line-height: 14px;
}

.searchContainer {
  background-color: #f1f1f1;
  line-height: 14px;
  margin-top: 0px;
  padding-top: 0px;
}

/* Button */

[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: 0.25rem 0 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #1e6bd6;
  border-radius: 18px;
  background: #1e6bd6;
  color: white;
  font-weight: 600;
  text-decoration: none;
  
  text-decoration: none;
  font-size: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1; /* 1 */
  margin: 0; /* 2 */
}

.titleBar {
  background-color: #003366;
  border-bottom: #336699 6px solid;
  padding-right: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.titleBar:after {
  display: table;
  clear: both;
  content: "";
}

.titleText {
  float: left;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 2px;
}

.titleText em {
  font-weight: normal;
}
.contentBody {
  padding: 2px 2px 2px;
}
.contentBody {
  padding: 2px 2px 2px;
}

@media screen and (min-width: 481px) {
  .contentBody {
    padding: 1px 1px 2px;
  }
}

.contentCollapse {
  display: none;
  border-bottom: 1px solid #ff903d;
}

.contentField {
  margin-top: 0;

  margin-bottom: 0;
}

.contentField:after {
  display: table;
  clear: both;
  content: "";
}

.contentFieldLabel {
  float: left;
  width: 100%;
  font-weight: 700;
  line-height: 10px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-right: 8px;
}

.contentFieldControl {
  padding-right: 36px;
  position: relative;
  float: left;
  width: 100%;
}

.contentFieldControl input,
.contentFieldControl select {
  margin-top: 0;
  margin-bottom: 0;
  width: 75%;
}
.contentFieldControl .helpIcon {
  position: absolute;
  top: 8px;
  right: 0;
}

@media screen and (min-width: 481px) {
  .contentFieldControl {
    float: left;
    width: 75%;
  }

  .contentFieldLabel {
    width: 25%;
  }
}

.contentFieldLabelAuto {
  width: auto;
  margin-right: 16px;
}

.btnContainer {
  padding-top: 20px;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 15px;
  text-align: right;
  font-size: 0.5rem;
}

.btnContainer .btn {
  width: auto;
  margin-top: 0;
}

.StaticTextPara {
 
  /* font-size: 1em; */
  /* line-height: 1.25; */
  padding: 0rem 2rem;
  margin-left: 0px;
  text-decoration: none;
  width: 100%;
  letter-spacing: 1.5px;
}

.ErrorMessage {
  
  color: red;
  font-size: 1rem;
  line-height: 1;
  margin: 16px 0px;
  padding: 0px 32px;
  text-decoration: none;
  width: 100%;
}

.reactTableHeader {
  table-layout: fixed;
  font-weight: bold;
  display: table-cell;
  width: 100px;
  min-width: 100px;
  max-width: 1000px;
  vertical-align: top;
  white-space: unset;
}

.mainFont
{
  font-family: 'Montserrat', sans-serif;
}

.reactTableCell
{
 
  font-size: 0.8rem;
}
.reactTableCell #provname{
  
  font-weight: bold;
}
.reactTableCell .bluebold
 {
  color: blue;
  font-weight: bold;
}

.reactTableCellPrint
{
  font-size: 0.8rem;
}

#printme {
  display: none;
}
@media print {
  #printme {
    display: block;
  }

#printBtn {
    visibility: hidden !important; /* To hide */
}

}

.reactTableCell span, .reactTableCell i {
  font-size: .9em;
}

